[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[user]
	email = stanley.wei.04@gmail.com
	name = Stanley Wei
[init]
	defaultBranch = main
[credential]
	helper = "!f() { /root/.vscode-server/bin/cb0c47c0cfaad0757385834bd89d410c78a856c0/node /tmp/vscode-remote-containers-29813170-c104-4031-bcb9-e50e2a4958ea.js git-credential-helper $*; }; f"
