<launch>
  <!-- Name of the node -->
  <arg name="controller_node" default="bur_controller"/>

  <node pkg="bur_controller" name="$(var controller_node)" exec="bur_controller" output="screen">

    <param name="sub_topic" value="command"/>
    <param name="pub_topic" value="control_effort"/>
    <param name="publish_rate" value="30"/>
    <param name="using_joy" value="true"/>
    <param name="debug" value="false"/>

    <param name="linear_x/position/kp" value="1.0" type="float"/>
    <param name="linear_x/position/ki" value="0.0" type="float"/>
    <param name="linear_x/position/kd" value="0.0" type="float"/>
    <param name="linear_x/velocity/kp" value="1.0" type="float"/>
    <param name="linear_x/velocity/ki" value="0.0" type="float"/>
    <param name="linear_x/velocity/kd" value="0.0" type="float"/>

    <param name="linear_y/position/kp" value="1.0" type="float"/>
    <param name="linear_y/position/ki" value="0.0" type="float"/>
    <param name="linear_y/position/kd" value="0.0" type="float"/>
    <param name="linear_y/velocity/kp" value="1.0" type="float"/>
    <param name="linear_y/velocity/ki" value="0.0" type="float"/>
    <param name="linear_y/velocity/kd" value="0.0" type="float"/>

    <param name="linear_z/position/kp" value="1.0" type="float"/>
    <param name="linear_z/position/ki" value="0.0" type="float"/>
    <param name="linear_z/position/kd" value="0.0" type="float"/>
    <param name="linear_z/velocity/kp" value="5.0" type="float"/>
    <param name="linear_z/velocity/ki" value="0.0" type="float"/>
    <param name="linear_z/velocity/kd" value="0.0" type="float"/>

    <param name="angular_x/position/kp" value="1.0" type="float"/>
    <param name="angular_x/position/ki" value="0.0" type="float"/>
    <param name="angular_x/position/kd" value="0.0" type="float"/>
    <param name="angular_x/velocity/kp" value="1.0" type="float"/>
    <param name="angular_x/velocity/ki" value="0.0" type="float"/>
    <param name="angular_x/velocity/kd" value="0.0" type="float"/>

    <param name="angular_y/position/kp" value="1.0" type="float"/>
    <param name="angular_y/position/ki" value="0.0" type="float"/>
    <param name="angular_y/position/kd" value="0.0" type="float"/>
    <param name="angular_y/velocity/kp" value="1.0" type="float"/>
    <param name="angular_y/velocity/ki" value="0.0" type="float"/>
    <param name="angular_y/velocity/kd" value="0.0" type="float"/>

    <param name="angular_z/position/kp" value="1.0" type="float"/>
    <param name="angular_z/position/ki" value="0.0" type="float"/>
    <param name="angular_z/position/kd" value="0.0" type="float"/>
    <param name="angular_z/velocity/kp" value="500.0" type="float"/>
    <param name="angular_z/velocity/ki" value="0.0" type="float"/>
    <param name="angular_z/velocity/kd" value="0.0" type="float"/>

  </node>
</launch>
